<table>
  <tr>
    <td>
      <h1>Experiencia Adicional con Tecnologías y Software</h1>
    </td>
  </tr>

  <tr class="lista">
      <td>
        <h2>React.js</h2>
        <p>Nivel principiante</p>
        <p>(1 año)</p>
      </td>

      <td>
        <h2>Angular</h2>
        <p>Nivel principiante</p>
        <p>(0.2 años)</p>
      </td>

      <td>
        <h2>Postman</h2>
        <p>Nivel principiante</p>
        <p>(0.5 años)</p>
      </td>
  </tr>

  <tr class="lista">
    <td>
      <h2>SQL Server Management</h2>
      <p>Nivel principiante</p>
      <p>(0.5 años)</p>
    </td>

    <td>
      <h2>Visual Studio Code</h2>
      <p>Nivel intermedio</p>
      <p>(2 años)</p>
    </td>

    <td>
      <h2>Microsoft Azure</h2>
      <p>Nivel principiante</p>
      <p>(0.5 años)</p>
    </td>
  </tr>

  <tr class="lista">
    <td>
      <h2>Anaconda</h2>
      <p>Nivel intermedio</p>
      <p>(1.5 años)</p>
    </td>

    <td>
      <h2>GitHub/Git</h2>
      <p>Nivel intermedio</p>
      <p>(1.5 años)</p>
    </td>

    <td>
      <h2>Unity</h2>
      <p>Nivel principiante</p>
      <p>(1 año)</p>
    </td>
  </tr>
</table>