<table>
  <tr>
    <td>
      <h1>Experiencia Programando</h1>
    </td>
  </tr>

  <tr class="lista">
      <td>
        <h2>C++</h2>
        <p>Nivel intermedio</p>
        <p>(2 años)</p>
      </td>

      <td>
        <h2>Python</h2>
        <p>Nivel intermedio</p>
        <p>(1.5 años)</p>
      </td>

      <td>
        <h2>Java</h2>
        <p>Nivel principiante</p>
        <p>(0.5 años)</p>
      </td>
  </tr>

  <tr class="lista">
    <td>
      <h2>SQL</h2>
      <p>Nivel principiante</p>
      <p>(0.5 años)</p>
    </td>

    <td>
      <h2>HTML & CSS</h2>
      <p>Nivel principiante</p>
      <p>(0.5 años)</p>
    </td>

    <td>
      <h2>JavaScript</h2>
      <p>Nivel principiante</p>
      <p>(0.5 años)</p>
    </td>
</tr>
</table>