<table border="1">
  <tr>
    <td colspan="2">
      <app-header></app-header>
    </td>
  </tr>

  <tr>
    <td class="seccion">
      <app-educacion></app-educacion>
    </td>
    <td class="seccion">
      <app-experiencia-proyectos></app-experiencia-proyectos>
    </td>
  </tr>

  <tr>
    <td class="seccion">
      <app-experiencia-progra></app-experiencia-progra>
    </td>
    <td class="seccion">
      <app-experiencia-software></app-experiencia-software>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <app-lenguajes></app-lenguajes>
    </td>
  </tr>
</table>