<table>
  <tr>
    <td>
      <h1>Experiencia en Proyectos Extracurriculares</h1>
    </td>
  </tr>

  <tr>
    <td>
      <ul>
        <li>
          <p class="fecha"> 2014 - 2016: </p>
          <p>FIRST Tech Challenge (FTC)</p>
          <p>Equipo Botrregos Jr. 7649</p>
          <p>
            Parte del equipo de mecánica, mis responsabilidades eran analizar 
            los requerimientos de la competencia, apoyar en el diseño del robot
            y la construcción del mismo.
          </p>
        </li>
        <li>
          <p class="fecha"> 2019 - 2020: </p>
          <p>FIRST Tech Challenge (FTC)</p>
          <p>Equipo Cosmic Voltage 16684</p>
          <p>
            Parte del equipo de programación, mis responsabilidades eran analizar 
            los requerimientos de la competencia, aprender Java para programar el robot,
            configurar los controles y diseñar los programas autonomos.
          </p>
        </li>
      </ul>
    </td>
  </tr>
</table>